<h1>About Page</h1>
<ul>
    <li>Author: Daniel Shchyokin</li>
    <li>Version 1.0</li>
    <li>Description: The humble beginnings of my rails development career</li>
</ul>
<h><%= link_to "Home", root_path %></h>